body {
  height: 80vh;
  width: 90vw;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  height: 40px;
  width: 600px;
  border: 1px solid rgb(186, 172, 155);
  font-size: 30px;
  color: black;
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.container:hover {
  cursor: pointer;
  width: 650px;
  background-color: rgb(202, 185, 163);
}

.KeyCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(4, 4, 227);
}

.KeyCodeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 40px;
  width: 150px;
  border: 2px solid rgb(186, 172, 155);
  font-size: 24px;
  color: Black;
  transition: all 250ms ease-in-out;
}

.KeyCodeContainer:hover {
  height: 50px;
  width: 170px;
  border: 3px solid rgb(186, 172, 155);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  background-color: rgb(249, 229, 202);
}

.hide {
  display: none;
}
