<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="accordion">
            <div class="question">What is your first name?</div>
            <div class="answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde saepe magnam
                eaque, dolorum magni cupiditate soluta officiis repellat praesentium eos quidem. Consequuntur distinctio
                neque id reprehenderit quibusdam tempora rerum?</div>
            <div class="buttons">
                <div class="open">+</div>
                <div class="close">-</div>
            </div>
        </div>
        <div class="accordion">
            <div class="question">What is your Last name?</div>
            <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, delectus facilis?
                Repellat praesentium sapiente voluptatem corrupti tempora aperiam facere deserunt eos eius incidunt
                officiis ab consequuntur commodi saepe, reprehenderit error.</div>
            <div class="buttons">
                <div class="open">+</div>
                <div class="close">-</div>
            </div>
        </div>
        <div class="accordion">
            <div class="question">Why do we use it?</div>
            <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, delectus facilis?
                Repellat praesentium sapiente
                voluptatem corrupti tempora aperiam facere deserunt eos eius incidunt officiis ab consequuntur commodi
                saepe,
                reprehenderit error.</div>
            <div class="buttons">
                <div class="open">+</div>
                <div class="close">-</div>
            </div>
        </div>
        <div class="accordion">
            <div class="question">Where does it come from?</div>
            <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, delectus facilis?
                Repellat praesentium sapiente
                voluptatem corrupti tempora aperiam facere deserunt eos eius incidunt officiis ab consequuntur commodi
                saepe,
                reprehenderit error.</div>
            <div class="buttons">
                <div class="open">+</div>
                <div class="close">-</div>
            </div>
        </div>
    </div>
</body>

</html>