<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script defer src="./script.js"></script>
</head>

<body>
    <div class="sideBar">
        <img class="image center" id="img1" src="https://m.media-amazon.com/images/I/61n0aVXta7L._UY1000_.jpg" />
        <img class="image center" id="img2" src="https://m.media-amazon.com/images/I/71tL5UyL1fL._AC_UY1000_.jpg" />
        <img class="image center" id="img3"
            src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwa7b344a2/images/Titan/Catalog/90110WL04_1.jpg?sw=600&sh=600" />
        <img class="image center" id="img4"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnwK5kA3LQHyWmDrHeqlLcRS5hBnLKivWpXnD5DLgttqFodTlfUzy1oHXs-bZo42ZH7-g&usqp=CAU" />
    </div>

    <div class="selected">
    </div>

    <div class="modalWrapper">
        <div class="modalBody">

        </div>
    </div>
</body>

</html>