<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="images">
            <img class="img" src="images/billi1.jpeg" alt="billi Photo" />
            <img class="img" src="images/billi2.jpeg" alt="billi Photo" />
            <img class="img" src="images/billi3.jpeg" alt="billi Photo" />
            <img class="img" src="images/billi4.jpeg" alt="billi Photo" />
            <img class="img" src="images/billi5.jpeg" alt="billi Photo" />
        </div>

        <div class="radio">
            <div class="radioBtn"></div>
            <div class="radioBtn"></div>
            <div class="radioBtn"></div>
            <div class="radioBtn"></div>
            <div class="radioBtn"></div>
        </div>
    </div>

</body>

</html>