<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Country Flags</title>
</head>

<body>
    <div class="wrapper">

        <div class="flag india hide">
            <div></div>
            <div></div>
            <div></div>
            <div class="name">India</div>
        </div>

        <div class="flag japan hide">
            <div></div>
            <div class="name">Japan</div>
        </div>

        <div class="flag italy hide">
            <div></div>
            <div></div>
            <div></div>
            <div class="name">Italy</div>
        </div>

        <div class="flag poland hide">
            <div></div>
            <div></div>
            <div class="name">Poland</div>
        </div>






        <!-- <div class="country pakistan">
            <div class="name">Pakistan</div>
        </div>

        <div class="country china">
            <div class="name">China</div>
        </div>
        <div class="country japan">

            <div class="name">Japan</div>

        </div>
        <div class="country nepal">
            <div class="name">Nepal</div>

        </div> -->
    </div>
</body>

</html>