<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container-star">
            <span class="star">&#9733</span>
            <span class="star">&#9733</span>
            <span class="star">&#9733</span>
            <span class="star">&#9733</span>
            <span class="star">&#9733</span>
        </div>
        <div class="container-text">Click to set the rating</div>
        <div class="container-smiley"></div>
    </div>
</body>

</html>