<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>

    <title>Social Media Counter</title>
</head>

<body>
    <div class="wrapper">
        <div class="counterContainer ">
            <div class="counter" data-target="12000"></div>
            <div class="likes"></div>
        </div>

        <div class="counterContainer">
            <div class="counter" data-target="1000"></div>
            <div class="comments"></div>
        </div>

        <div class="counterContainer">
            <div class="counter" data-target="2000"></div>
            <div class="shares"></div>
        </div>
    </div>
</body>

</html>