<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <input type="checkbox" name="" id="toggle">
    <label for="toggle" class="switch"></label>
</body>

</html>

<!-- 
By setting the for attribute of the <label> to be the same as the id of the <input>, you create a direct link between the label and the input element. his means when a user clicks on the label, it will toggle the checkbox as if they had clicked directly on the checkbox
itself.-->