*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    padding:30px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

#products{
    max-width:700px;
    margin:auto;
}

.product{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.product h2{
    margin-bottom:10px;
}

#loader{
    text-align:center;
    padding:30px;
    font-size:18px;
    color:gray;
}