<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/21990abe6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./accordion.css">
    <script defer src="./accordion.js"></script>
    <title>Accordion</title>
</head>

<body>
    <div class="container">
        <h2>FAQ's</h2>
        <div class="accordion">
            <div class="question">
                <h4>Lorem ipsum dolor, sit amet consectetur?</h4>
                <i class="icon fa-solid fa-plus"></i>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde mollitia veritatis aliquid
                iusto, eum natus, nostrum illo, illum corrupti? Nostrum numquam a fugit exercitationem ut id accusantium
                nesciunt!
            </div>
        </div>

        <div class="accordion">
            <div class="question">
                <h4>Lorem ipsum dolor, sit amet consectetur?</h4>
                <i class="icon fa-solid fa-plus"></i>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde mollitia veritatis aliquid
                iusto, eum natus, nostrum illo, illum corrupti? Nostrum numquam a fugit exercitationem ut id accusantium
                nesciunt!
            </div>
        </div>

        <div class="accordion">
            <div class="question">
                <h4>Lorem ipsum dolor, sit amet consectetur?</h4>
                <i class="icon fa-solid fa-plus"></i>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde mollitia veritatis aliquid
                iusto, eum natus, nostrum illo, illum corrupti? Nostrum numquam a fugit exercitationem ut id accusantium
                nesciunt!
            </div>
        </div>

        <div class="accordion">
            <div class="question">
                <h4>Lorem ipsum dolor, sit amet consectetur?</h4>
                <i class="icon fa-solid fa-plus"></i>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde mollitia veritatis aliquid
                iusto, eum natus, nostrum illo, illum corrupti? Nostrum numquam a fugit exercitationem ut id accusantium
                nesciunt!
            </div>
        </div>

        <div class="accordion">
            <div class="question">
                <h4>Lorem ipsum dolor, sit amet consectetur?</h4>
                <i class="icon fa-solid fa-plus"></i>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde mollitia veritatis aliquid
                iusto, eum natus, nostrum illo, illum corrupti? Nostrum numquam a fugit exercitationem ut id accusantium
                nesciunt!
            </div>
        </div>
    </div>

</body>

</html>