<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="./script.js"></script>
    <title>Timer</title>
</head>

<body>
    <div class="container">
        <h1 class="heading">Countdown Timer</h1>
        <div class="timer">
            <div class="timer_hours">
                <span>Hours</span>
                <input class="timer_hours-value Timevalue" placeholder="00" />
            </div>
            <div class="timer_separate">::</div>
            <div class="timer_mins">
                <span>Minutes</span>
                <input class="timer_mins-value Timevalue" placeholder="00" />
            </div>
            <div class="timer_separate">::</div>
            <div class="timer_sec">
                <span>Seconds</span>
                <input class="timer_secs-value Timevalue" placeholder="00" />
            </div>
        </div>
        <div class="buttons">
            <button class="buttons_start">Start</button>
            <button class="buttons_pause">Pause</button>
            <button class="buttons_reset">Reset</button>
        </div>
    </div>
</body>

</html>